@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh sách Bài báo</h1>


        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.Msg == "1")
                {
                    <div class="alert alert-success">
                        <strong>Thành công</strong>
                    </div>
                }
                <button type="button" class="btn btn-info" data-bs-toggle="modal"
                        data-bs-target="#exampleModalAdd">
                    Thêm mới
                </button>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr style="background-color:gray">
                            <th>STT</th>
                            <th>Tên bài báo</th>
                            <th>Nhà xuất bản</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Tên bài báo</th>
                            <th>Nhà xuất bản</th>
                            <th>Hành động</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{ var stt = 1;}
                        @foreach (var item in ViewBag.List)
                        {
                        <tr>
                            <td>@stt</td>
                            <td>@item.title</td>
                            <td>
                                @{var nhaxb = new LibraryAsp.Dao.PublisherDao().getAll();
                                }
                                @foreach (var item1 in nhaxb)
                                {
                                    if (item1.id_publisher == item.id_publisher)
                                    {
                                        @item1.name;
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    var idModelDes = "exampleModalDes" + item.id_post;
                                    var itemName = "#edit" + item.id_post;
                                    var itemName1 = "edit" + item.id_post;
                                    var deleteItem = "#delete" + item.id_post;
                                    var deleteItem1 = "delete" + item.id_post;
                                }
                                <!-- Button to see details of post-->
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#@idModelDes" style="width: 100px !important">
                                    Chi tiết
                                </button>

                                <!-- Button edit details of books-->
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                        data-bs-target="#@itemName1">
                                    Chỉnh sửa
                                </button>

                                <!-- Button to delete information -->
                                <button type="button" data-bs-toggle="modal" data-bs-target="#@deleteItem1"
                                        style="width:100px" class="btn btn-danger">
                                    Xóa
                                </button>

                            </td>
                        </tr>
                            <!-- Modal detail infor-->
                            <div class="modal fade" id="@idModelDes" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Chi tiết</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="">
                                                        <label for="category-film" class="col-form-label" style="font-weight:bold;width : 140px">Tên bài báo</label>
                                                        :@item.title
                                                    </div>
                                                    <div class="">
                                                        <label for="category-film" class="col-form-label" style="font-weight:bold;width : 140px">Nhà xuất bản</label>
                                                        : @foreach (var item2 in nhaxb)
                                                        {
                                                            if (item2.id_publisher == item.id_publisher)
                                                            {
                                                                @item2.name;
                                                            }
                                                        }
                                                    </div>
                                                    <div class="">
                                                        <label for="category-film" class="col-form-label" style="font-weight:bold;width : 140px">Ngày tạo</label>
                                                        : @item.createdAt
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <label for="category-film" class="col-form-label" style="font-weight:bold;">Nội dung</label><br />
                                                    @Html.Raw(item.content)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal Edit Detail-->

                            <div class="modal fade" id="@itemName1" tabindex="-1" aria-labelledby="" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <form action="/Post/Update" method="post">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="">Sửa Thông Tin Của Bài Báo</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div id="resultss" class="modal-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row mb-2">
                                                            <div class="col-4">
                                                                <label for="category-film" class="col-form-label" style="font-weight:bold;width : 140px">Tên bài báo: </label>
                                                            </div>
                                                            <div class="col-8">
                                                                <input class="form-control" type="text" id="title" name="title" value="@item.title">
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2">
                                                            <div class="col-4">
                                                                <label for="category-film" class="col-form-label" style="font-weight:bold;width : 140px">Nhà xuất bản: </label>
                                                            </div>
                                                            <div class="col-8">
                                                                <select class="form-select" aria-label="Default select example" id="publisher" name="publisher" required>
                                                                    @{var nxbNew = new LibraryAsp.Dao.PublisherDao().getAll();
                                                                    }
                                                                    @foreach (var item2 in nxbNew)
                                                                    {
                                                                        <option value="@item2.id_publisher">@item2.name</option>
                                                                        if (item2.id_publisher == item.id_publisher)
                                                                        {
                                                                            <option value="@item.id_publisher">@item2.name</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <input class="form-control" type="hidden" id="id_post" name="id_post" value="@item.id_post" hidden>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <label for="category-film" class="col-form-label" style="font-weight:bold;">Nội dung</label><br />
                                                    <textarea class="form-control" cols="30" rows="5" name="content">@Html.Raw(item.content)</textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" style="width:100px" class="btn btn-primary">Sửa</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                            <!-- Modal Delete Detail-->

                            <div class="modal fade" id="@deleteItem1" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa ?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body">
                                            Bài báo : @item.title
                                            <form action="/Post/Delete" method="post">
                                                <input type="hidden" class="form-control" id="id_post" name="id_post" value="@item.id_post">
                                                <div class="modal-footer" style="margin-top: 20px">
                                                    <button style="width:100px" type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        Đóng
                                                    </button>
                                                    <button style="width:100px" type="submit" class="btn btn-danger"> Xóa</button>

                                                </div>

                                            </form>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            stt++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<!-- Modal Add-->
<div class="modal fade" id="exampleModalAdd" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/Post/Add" class="register-form" id="register-form" enctype="multipart/form-data">
                    <div class="col">
                        <div class="row">
                            <div class="col-6">
                                <label for="category-film"
                                       class="col-form-label">Tên bài báo:</label>
                                <input type="text" class="form-control" id="category-film" name="title" required>
                            </div>
                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Nhà xuất bản : </label>
                                <select class="form-select" aria-label="Default select example" id="publisher" name="publisher" required>
                                    <option value="" selected>Chọn Nhà xuất bản</option>
                                    @{var nxb = new LibraryAsp.Dao.PublisherDao().getAll();
                                    }
                                    @foreach (var item2 in nxb)
                                    {
                                        <option value="@item2.id_publisher">@item2.name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="category-film"
                                   class="col-form-label">Nội dung:</label>
                            <textarea class="form-control" cols="30" rows="5" name="content"></textarea>
                        </div>

                    </div>
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Đóng
                    </button>
                    <button type="submit" class="btn btn-primary">Lưu </button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
